<nav>
    <div id="nav">
        <span class="nav-div">
            <div >
                <li></li>
                <li></li>
                <li></li>
            </div>
        </span>
    
        <span id="box2">
            <a href="#">
              <div class="scene">
              <div class="cubes">
                  <div class="cube__face cube__face--inside">
                  <p>Click</p>
                  </div>
                  <div class="cube__face cube__face--front"></div>
                  <div class="cube__face cube__face--back"></div>
                  <div class="cube__face cube__face--right"></div>
                  <div class="cube__face cube__face--left"></div>
                  <div class="cube__face cube__face--top"></div>
                  <div class="cube__face cube__face--bottom"></div>
              </div>
              </div>
          </a>
        </span>
         <span class="nav-div2">
            <div >
                <li></li>
                <li></li>
                <li></li>
            </div>
       </span>
    </div>
   
</nav>