<%- include('partials/header') %>

    <main >
      <div id="box">
          <a href="#">
            <div class="scene">
            <div class="cubes">
                <div class="cube__face cube__face--inside">
                <p>Click</p>
                </div>
                <div class="cube__face cube__face--front"></div>
                <div class="cube__face cube__face--back"></div>
                <div class="cube__face cube__face--right"></div>
                <div class="cube__face cube__face--left"></div>
                <div class="cube__face cube__face--top"></div>
                <div class="cube__face cube__face--bottom"></div>
            </div>
            </div>
        </a>
      </div>
        <h1 id="home-title" class="container"><b>The Evergarden<b></h1>
            <h2 id="home-title2" > Garden that lasts forever</h2>
            <div id="member">
                <div class="home-login">
                    <p>Tend to your garden's  <a href="/login" id="login">Login</a></p>
                   
                </div>
                <div class="home-signup">
                    <p>eternity starts here <a href="/signup" id="signup">Signup</a></p>
                    
                </div>
            </div>
    </main>
    <%- include('partials/background') %>
    <%- include('partials/brand')%>
<%- include('partials/footer') %>